*{
    margin: 0px;
    padding: 0px;
    background-color: rgba(246,236,233,255)
}
.header{
    height: auto;
    width: 100%;
}
.ul,li{
    padding: 15px;
    padding-left: 10%;
    display: inline-flex;
    list-style-type: none;
}
.li,h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:crimson;
}
.li,a{
    text-decoration: none;
    color:rgb(249, 49, 13);
}